/* General Styling */
body {
    background-color: #D3D3D3;
    font-family: 'Laila', Tahoma, sans-serif;
    font-weight: bolder;
}

section, footer {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 15px;
    border: 2px solid black;
}

.section {
    background-color: whitesmoke;
    text-align: center;
}

.footer {
    background-color: #209CEE;
}

.headings {
    font-family: 'Roboto Mono',Tahoma, sans‑serif;
    text-align: center;
    font-size: 2.5rem;
}

/* target number styling */
.goal {
    font-size: 150px;
}