/* General Styling */
body {
    background-color: #D3D3D3;
    font-family: 'Laila', Tahoma, sans-serif;
    font-weight: bolder;
    line-height: 1.5rem;
}

section,
footer {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 15px;
    border: 2px solid black;
}

.section {
    background-color: whitesmoke;
    text-align: center;
}

.footer {
    background-color: #209CEE;
}

.headings {
    font-family: 'Roboto Mono', Tahoma, sans‑serif;
    text-align: center;
    font-size: 2.5rem;
    line-height: 1rem;
    padding: 15px 0;
}

/* game area styling */
#target-h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15px;
}

#target-div {
    height: auto;
}

.goal {
    font-size: 300%;
    height: 75px;
    margin: 0;
    line-height: normal;
}

/* Idea from Love Maths project */
.user {
    width: 45px;
    height: 30px;
    font-size: 2.5rem;
    margin: 0 15px;
}

/* Code from Love Maths project */
.user::after {
    content: attr(data-entry);
    font-size: 1rem;
    color: black;
    position: relative;
    left: -0.5rem;
    top: 1.5rem;
}

/* Idea from w3schools */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}